@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    background-color:  var(--cor0);
}

.container {
    display: flex;
    flex-direction: column;
}

:root {
    --cor0: #E3E6E6;
    --cor1: #131921;
    --cor2: #FF8201;
    --cor3: #747474;
}

/* COLORS - PALETAS */
.paleta1 {
    --cor0: #E3E6E6;
    --cor1: #131921;
    --cor2: #FF8201;
    --cor3: #747474;
}

.paleta2 {
    --cor0: #FFF;
    --cor1: #000;
    --cor2: #FB4A9D;
    --cor3: #747474;
}

.paleta3 {
    --cor0: #000;
    --cor1: #0E0E0E;
    --cor2: #FF9900;
    --cor3: #929292;
}

.paleta4 {
    --cor0: #FFF;
    --cor1: #000;
    --cor2: #388d25;
    --cor3: #808080;
}

.paleta5 {
    --cor0: #131720;
    --cor1: #10141B;
    --cor2: #245EAD;
    --cor3: #E8E8E8;
}

.paleta6 {
    --cor0: #FFF;
    --cor1: #FFF;
    --cor2: #FF313F;
    --cor3: #0095F6;
}

.paleta7 {
    --cor0: #FFF;
    --cor1: #58387A;
    --cor2: #389D00;
    --cor3: #979797;
}

/*background*/
/*header/footer*/
/*icones*/
/*texto*/

.paleta {
    --cor0: #f61f56;
    --cor1: ;
    --cor2: ;
    --cor3: ;
}

.logo {
    color: var(--cor2);
    font-size: 1.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* inputColor */
.inputColor {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 10px;
    border: 2px solid var(--cor3);
    padding: 10px;
}

.inputColor input {
    height: 40px;
    padding: 0px 10px;
}

.inputColor input[type="submit"] {
    width: 57%;
    margin: auto;
}

/*   SECTION IMAGENS   */
#section-imagens {
    text-align: center;
    margin: 50px auto 0px auto;
}

#section-imagens img {
    width: 100%;
    margin: auto;
}

#section-imagens div {
    padding: 25px 0px;
    margin: auto;
    text-align: center;
}

#section-imagens a {
    text-decoration: none;
}

#section-imagens h3 {
    font-size: 0.9em;
    font-weight: bolder;
    color:  var(--cor2);
}

#section-imagens p {
    padding: 5px 0px 10px 0px;
    color:  var(--cor3);
}



/*BUTTONS*/
#button {
    text-align: center;
    margin: auto;
    display: block;
    color: white;
    font-weight: bold;
    font-weight: bold;
    border: none;
    width: 200px;
    padding: 13px;
    text-decoration: none;
}
