@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS - PALETAS */

:root {
    --background_and_footer: #FFF;
    --header: #000;
    --icons: #FB4A9D;
    --text-footer: #000;
    --botton: linear-gradient(to bottom, #FB4A9D, #fb4a9d9f);
}

.paleta2 {
    --background_and_footer: #FFF;
    --header: #000;
    --icons: #388d25e5;
    --text-footer: #000;
    --botton: linear-gradient(to bottom, #9FBD07, #4C6B22);
}

#colorButton {
    cursor: pointer;
}

body {
    position: relative;
    background-color: var(--background_and_footer);
    color: black;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

header {
    position: sticky;
    top: 0px;
    background-color: var(--header);
    border-bottom: 3px solid var(--icons);
    color: var(--icons);
    height: 105px;
    padding: 15px 30px;
    font-size: 1.1em;
    z-index: 1;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
} header > div {
    margin: auto;
    max-width: 880px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

} header h1 {
    color: var(--botton);
    font-size: 1.8em;
    display: flex;
    align-items: center;
}

#menu {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
} #menu div {
    height: 2px;
    background-color: var(--icons);
    width: 28px;
} #menu_and_color {
    display: flex;
    gap: 40px;
}

menu {
    position: absolute;
    transform: translate(calc(100vw - 315px), -68%);
    height: 300px;
    width: fit-content;
    background-color: var(--header);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    padding: 50px 20px;
    font-weight: bold;
    z-index: 0;
} menu a {
    color: var(--text);
    font-size: 1.6em;
    text-decoration: none;
} menu a:hover {
    text-decoration: underline;
    color: #b3b3b3;
}

.secPosHeader {
    
}

nav {
    
    height: 40px;
    
    gap: 10px;
    background-color: var(--icons);
    color: white;
    text-shadow: 1px 1px 3px #0000008b;
} nav > div {
    margin: auto;
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} nav div {
    width: 100%;
    height: 40px;
} nav a {
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
} nav a:hover {
    color: var(--icons);
} nav div div:hover {
    background-color: white;
} /* nav div:not(:last-child):hover {
    background-color: white;
} */

#box-search {
    height: 40px;
    display: flex;
    align-items: center;
}

#box-search input {
    height: 80%;
    width: 100%;
    padding: 0px 0px 0px 10px;
    background-color: var(--icons);
    border: 1px solid var(--header);
    border-radius: 10px;
}

#box-search input::placeholder {
    font-size: 1.2em;
    letter-spacing: 1px;
    color: var(--header);
}

#box-search i {
    margin-left: -27px;
    color: var(--header);
    text-shadow: none;
}

#no_results {
    display: none;
    background-color: var(--aviso);
    color: var(--icons);
    letter-spacing: 1px;
    font: normal normal 1.2em sans-serif;
    width: 90%;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background_and_footer);
    padding: 70px 20px;
    margin: auto;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

main > section {
    background-color: white;
    min-height: 330px;
    display: flex;
    gap: 20px;
    flex-direction: column;   
    /* justify-content: space-between; */
} main > section p {
    font-size: 1.2em;
} main > section h2 {
    font-size: 1.7em;
    margin-top: 60px;
}

#title_main {
    display: flex;
    flex-direction: column;
} #title_main img {
    width: 100%;
    padding: 30px 0px;
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--header_footer);
    color: var(--text-footer);
    padding: 40px;
}

#redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
} #icones-redes {
    display: flex;
    gap: 20px;
} #icones-redes img {
    height: 30px;
} #icones-redes a {
    text-decoration: none;
}

#preFooter {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--header);
    color: #969EAB;
    text-align: center;
    padding: 40px 0px;
} #preFooter > div {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-flow: column nowrap;
} #preFooter h2 {
    color: var(--icons);
} #a-button {
    width: 110px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid var(--botton);
    text-decoration: none;
    padding: 4px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    background-image: var(--botton);
} #displayHora {
    color: #969EAB;
}

.childs-footer {
    max-width: 920px;
    margin: auto;
}

#div-texto {
    padding: 10px 0px;
    border-top: 1px solid var(--text-footer);
    border-bottom: 1px solid var(--text-footer);
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
} #div-texto > div {
    display: flex;
    justify-content: space-between;
} #div-texto p {
    margin: 0px 15px;
}

#div-texto h1 {
    font-variant: small-caps;
    background-color: #969EAB;
    padding: 0px 5px;
    font-size: 1.5em;
    /* color: #171D25; */
    color: var(--background_and_footer);
    width: fit-content;
}

#div-texto abbr {
    cursor: pointer;
    color: #969EAB;
}

.foruns {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 10px;
} .foruns > div:not(:last-child) {
    border-bottom: 1px solid var(--text-footer);
} .foruns > div {
    width: 150px;
    padding: 10px;
    text-align: center;
} .foruns a {
    color: var(--text-footer);
    font-weight: normal;
    text-decoration: none;
} .foruns a:hover {
    text-decoration: underline;
}

#bgFooterBottom {
    height: 40px;
    width: 100%;
    background-color: var(--header);
}

/* mediaquery .miniNav  */
#navOne, #navTwo, #navThree {display: none;}
nav {
    display: none;
}

@media screen and (min-width: 450px) {
    main {
        padding: 70px 30px;
    }
} @media screen and (min-width: 550px) {
    nav {
        display: flex;
    }

    #navOne {display: block;}
    #navTwo {display: block;}
    #navThree {display: block;}
    main {
        padding: 70px 50px;
    }
} @media screen and (min-width: 660px) {
    main {
        padding: 70px 70px;
    }
} @media screen and (min-width: 770px) {
    main {
        padding: 70px 90px;
    }
} @media screen and (min-width: 781px) {
    .foruns {
        display: flex;
        flex-flow: row nowrap;
    } .foruns > div {
        width: 100%;
    } .foruns > div:not(:last-child) {
        border-right: 1px solid var(--text-footer);
        border-bottom: none;
    }
} @media screen and (min-width: 900px) {
    #menu {
        display: none;
    } menu {
        display: none;
    }
}